@font-face {
  font-family: pixelFont;
  src: url(BoldPixels.otf);
}

.container {
  width: 97.5vw;
  height: 96vh;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: end;
  padding: 5px;
}

img {
  width: 216px;
  height: auto;
}

body {
  color: #e3e4e3;
  font-family: pixelFont;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 18px;
}

.LowerZIndex {
  z-index: 3;
}