body {
    color: white;
}

.speech-window {
    width: 100%;
    height: 150px;
    border: 3px solid #a34e2b;
    padding-left: 25px;
    margin-left: 10px;

    color: #e3e4e3;
    font-family: "Texturina", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 18px;
}