body {
    color: white;
}

.speech-window {
    width: 100%;
    height: 150px;
    border: 3px solid #a34e2b;
    padding-left: 25px;
    margin-left: 10px;

    color: #e3e4e3;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 18px;
    text-align: start;
    background-color: black;
}

.speech-window-text {
    /* typing settings */
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;

    animation: 
        typing 6.4s linear
    ;

    font-size: 25px;
}

@keyframes typing {
    from { width: 0;}
    to { width: 100%;}
}

.LowerZIndex {
    z-index: 3;
}