
#ParticleCanvas {
    align-self: center;
    width: 100vw;
    height: 100vh;
    position: fixed;
    inset: 0;
    pointer-events: none;
    background-color: rgba(0, 50, 255, 0.5);
    z-index: 3;
}