@font-face {
    font-family: pixelFont;
    src: url(assets/BoldPixels.otf);
}

#StartPage {
    height: 96vh;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: pixelFont;
}

button {
    outline: none;
    background: none;
    font: inherit;
    color: inherit;
    border: none;
    cursor: pointer;
    padding: 15px;
}

#title {
    font-size: 100px;
    color: #e99b07;
}

#desc {
    margin-bottom: 40px;
}