@font-face {
    font-family: pixelFont;
    src: url(assets/BoldPixels.otf);
}

#StartPage {
    height: 96vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: pixelFont;
    z-index: -1;
}

button {
    outline: none;
    background: none;
    font: inherit;
    color: inherit;
    border: none;
    cursor: pointer;
    padding: 15px;
}

#Title {
    font-size: 100px;
    margin-bottom: 30px;
    padding: none;
    color: #e99b07;
    font-family: pixelFont;
    text-align: center;
}

#Desc {
    font-size: 20px;
    color: #ca7826;
    margin-bottom: 20px;
    padding: none;
}

#Start {
    background-color: #ff3982;
    font-size: 30px;
    min-height: 100px;
    transition: background-color 0.2s ease-in;
    padding: 0px 30px;
    margin-top: 35px;
    border-radius: 1.5px;
}

#Start:hover {
    background-color: rgba(0, 0, 0, 0);
    color: #ff3982;
    animation: ShrinkButton2 0.2s linear 0s 1 forwards;
}

@keyframes RotateButton {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(15deg); }
    50% { transform: rotate(-10deg); }
    100% { transform: rotate(0deg); }
}

#Skip {
    margin-top: 30px;
    padding-top: 0px;
    padding-bottom: 0px;
    background-color: #ff5686;
    font-size: 18px;
    min-height: 50px;
    transition: background-color 0.2s ease-in;
    border-radius: 2.5px;
}

#Skip:hover {
    background-color: rgba(0, 0, 0, 0);
    color: #ff5686;
    animation: ShrinkButton1 0.3s ease-in 0s 1 forwards;
}

@keyframes ShrinkButton1 {
    100% { font-size: 16px; }
}

@keyframes ShrinkButton2 {
    100% { font-size: 25px; }
}