#shop {
    height: 96vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#RightSection {
    width: 500px;
    border: 3.5px solid #6b2e1a;
    background-color: #a34e2b;
    display: flex;
    align-items: center;
    margin-left: 20px;
    border-radius: 8px;
    position: relative;
    padding: 0px;
}

.list {
    list-style: none;
}

ul {
    list-style: none;
    padding: 0px;
    background-color: #a34e2b;
    border: 3px solid #6b2e1a;
    position: relative;
    z-index: 2;
    height: 100%;
    margin: 0px 0px;
}

ul>button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    width: 70px;
    overflow: hidden;
    flex-wrap: nowrap;
    text-wrap: nowrap;

    background: none;
	color: inherit;
	border: none;
	font: inherit;
	outline: inherit;

    transition: width 0.35s linear, padding-right 0.3s ease;
}

ul>button:hover {
    width: auto;
    padding-right: 20px;
}

#RightSectionPage {
    margin-left: 80px;
    position: absolute;
    padding: 15px;
    z-index: 0;
}
.ic {
    width: 50px;
    height: 50px;
    padding: 10px;
}

#LeftSection {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

#Shack {
    height: 450px;
    width: auto;
    padding: 5px;
}

/* change colours */

#DownloadCV {
    background-color: black;
    color: #ff3982;
    padding: 5px;
    border-radius: 2px;
    text-decoration: none;
    transition: background-color 0.1s ease-in, color 0.1s ease-in;
}

#DownloadCV:hover {
    background-color: #ff3982;
    color: white;
}