.ItemsPage {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ItemsSection {
    height: 250px;
    display: flex;
    align-items: start;
    flex-wrap: wrap;
    overflow-y: auto;
}

.ItemsText {
    color: #3f0f0f;
}

.Item {
    border: 3px #6b2e1a solid;
    width: 80px;
    height: 120px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    justify-content: start;
    align-items: center;
    margin: 10px;
    border-radius: 3.5px;
}

.ItemImage {
    width: 50px;
    height: 50px;
    aspect-ratio: 1;
    border: solid #6b2e1a 3px;
    border-radius: 6px;
}

.ItemText {
    text-wrap: wrap;
    padding: 5px;
    color: #3f0f0f;
}

#HomePage {
    font-size: 28px;
    color: #3f0f0f;
    display: flex;
    align-items: end;
}

#HomePage>p {
    padding-right: 10px;
}

#HomePage>img {
    height: 200px;
}