.ItemsPage {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ItemsSection {
    height: 250px;
    display: flex;
    align-items: start;
    flex-wrap: wrap;
    overflow-y: auto;

    /* scrollbar styling */
    --sb-track-color: #9C4A29;
    --sb-thumb-color: #ca7826;
    --sb-size: 10px;
}

.ItemsSection::-webkit-scrollbar {
    width: var(--sb-size);
}

.ItemsSection::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 4px;
}

.ItemsSection::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 3.15px;
}

@supports not selector(::-webkit-scrollbar) {
    .ItemsSection {
        scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
    }
}

.ItemsText {
    color: #3f0f0f;
    margin-bottom: 0px;
    margin-top: 0px;
}

.Item {
    border: 3px #6b2e1a solid;
    width: 80px;
    height: 120px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    justify-content: start;
    align-items: center;
    margin: 10px;
    border-radius: 3.5px;
}

.ItemImage {
    width: 70px;
    height: 70px;
    aspect-ratio: 1;
    border: solid #6b2e1a 3px;
    border-radius: 6px;
    object-fit: cover;
    padding: 0px;
}

.ItemText {
    margin-top: 3px;
    text-wrap: wrap;
    padding: 0px;
    color: #3f0f0f;
}

#HomePage {
    font-size: 28px;
    color: #3f0f0f;
    display: flex;
    align-items: end;
}

#HomePage>p {
    padding-right: 10px;
}

#HomePage>img {
    height: 200px;
}

.ItemsDesc>a {
    color: inherit;
    text-decoration: underline;
}

.ItemsDesc>a:hover {
    color: #2ab4d9;
}

#TrophiesSection {
    overflow-y: auto;
    height: 250px;
}

.Trophy>button {
    display: flex;
}

.TrophyImage {
    width: 50px;
}

#TrophiesText {
    margin-bottom: 10px;
}