.ItemsPage {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ItemsSection {
    height: 250px;
    display: flex;
    align-items: start;
    flex-wrap: wrap;
    overflow-y: auto;
}

.Item {
    border: 3px white solid;
    width: 80px;
    height: 120px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    justify-content: start;
    align-items: center;
    margin: 10px;
}

.ItemImage {
    width: 50px;
    height: 50px;
    aspect-ratio: 1;
}

.ItemText {
    text-wrap: wrap;
    padding: 5px;
}