.ItemsPage {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ItemsSection {
    height: 250px;
    display: flex;
    align-items: start;
    flex-wrap: wrap;
    overflow-y: auto;
}

.ItemsText {
    color: #3f0f0f;
    margin-bottom: 0px;
    margin-top: 0px;
}

.Item {
    border: 3px #6b2e1a solid;
    width: 80px;
    height: 120px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    justify-content: start;
    align-items: center;
    margin: 10px;
    border-radius: 3.5px;
}

.ItemImage {
    width: 70px;
    height: 70px;
    aspect-ratio: 1;
    border: solid #6b2e1a 3px;
    border-radius: 6px;
    object-fit: cover;
    padding: 0px;
}

.ItemText {
    margin-top: 3px;
    text-wrap: wrap;
    padding: 0px;
    color: #3f0f0f;
}

#HomePage {
    font-size: 28px;
    color: #3f0f0f;
    display: flex;
    align-items: end;
}

#HomePage>p {
    padding-right: 10px;
    width: 250px;
}

#HomePage>p:hover {
    animation: HomePageAnimationtion2 1s linear 0.2s forwards;
}

#HomePage>img {
    height: 200px;
    width: auto;
}

.ItemsDesc>a {
    color: inherit;
    text-decoration: underline;
}

.ItemsDesc>a:hover {
    color: #2ab4d9;
}

#TrophiesSection {
    overflow-y: auto;
    height: 250px;
}

.ScrollSection{
    --sb-track-color: #9C4A29;
    --sb-thumb-color: #ca7826;
    --sb-size: 10px;
}

.ScrollSection::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 4px;
}

.ScrollSection::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 3.15px;
}

.ScrollSection::-webkit-scrollbar {
    width: var(--sb-size);
}

@supports not selector(::::-webkit-scrollbar) {
    .ScrollSection {
        scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
    }
}

.Trophy>button {
    display: flex;
}

.TrophyImage {
    width: 50px;
}

#TrophiesText {
    margin-bottom: 10px;
}

.TrophySkillTexts {
    display: flex;
    justify-content: space-between;
    width: 200px;
}

.TrophyTitle {
    margin-bottom: 0px;
}

.TrophySkill {
    display: flex;
    margin-left: 70px;
    padding: 0px 0px;
}

.TrophySkillImage {
    width: 50px;
    padding: 5px;
}

.TrophySkillTitle {
    padding: 5px;
}

.TrophySkillScore {
    padding: 5px;
}

#Clothes {
    display: flex;
    justify-content: start;
}

/* make custom spacing to look more natural 
    we could just squish the buttons together, how would it work for hover though?
*/

.Clothe {
    width: 40px;

    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.4s ease, filter 0.3s ease;
}

/* customise the hover effect more */
.Clothe:hover {
    transform: translateZ(80px) translateY(-10px) scale(1.05);
    filter: drop-shadow(0 20px 30px rgba(0, 0, 0, 0,4));
}

#FasttravelPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 380px;
}

.FasttravelLink {
    display: flex;
    align-items: center;
}

.FasttravelLinkIcon {
    width: 20px;
    padding: 5px;
}

.FasttravelLinkLink {
    color: inherit;
    /* remember to add scroll styling if necessary */
    overflow-y: auto;
}

.FasttravelLinkLink:hover {
    color: #2ab4d9;
}

#FasttravelText {
    color: #3f0f0f;
    margin-top: 0px;
}

.HomePageAnimation {
    animation: HomePageAnimationtion 2s linear 0.8s 1;
}

@keyframes HomePageAnimationtion {
    0% { color: inherit; }
    33% { color: #2ab4d9; }
    66% { color: #ffffff; }
    100% { color: inherit; }
}

@keyframes HomePageAnimationtion2 {
    0% { color: inherit; }
    70% { color: #2ab4d9; }
    100% { color: #ffffff; }
}

#PostBoxForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#PostBoxFormTextInputs>input {
    margin: 4px;
    border-radius: 2.3px;
    border: solid 3px yellow;
}

#PostBoxForm>textarea {
    resize: none;
    width: 290px;
    height: 100px;
    border-radius: 3.9px;
    border: solid 3px blue;
}

#FasttravelSection {
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
}

#PostBoxFormTextInputs {
    display: flex;
    justify-content: space-evenly;
    padding: 5px;
}